nav {
  background: rgb(99, 17, 192);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
nav > h2 {
  color: orange;
}
nav > h1:hover,
nav > h2:hover,
nav > h3:hover {
  color: yellow;
}
.info{
    height: 20vh;
    color:black;
    background:rgb(219, 203, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}